*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffffff;
    transition: opacity 0.75s, visibility 0.75s;
  }
  
  .loader--hidden {
    opacity: 0;
    visibility: hidden;
  }
  
  .loader::after {
    content: "";
    width: 75px;
    height: 75px;
    border: 15px solid #dddddd;
    border-top-color: #009507;
    border-radius: 50%;
    animation: loading 2s ease infinite;
  }
  
  @keyframes loading {
    from {
      transform: rotate(1turn);
    }
    to {
      transform: rotate(2turn);
    }
  }
  


.containe1{
    display: flex;
    height: 150px;
    padding: 30px;
    color: white;
}

.caja1{
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 20PX;
    height: 660px;
    color: white;
    background-color: #789dca;
    border-radius: 20px;
    margin-top: 20px;
    font-family: mifuente;
}


h1{ 
    border-left: white 15px solid;
    text-align: start;
    margin-top: 20px;
    margin-left: 40px;
    font-size: 45px;
}

.titulo1{
    margin-left: 90px;
    text-align: justify;
    font-size: 25px;
    font-family: mifuente;
}

.texto1{
    margin-top: 20PX;
    text-align: justify;
    padding-left: 90px;
    padding-right: 90px;
    padding-bottom: 20px;
    font-size: 1.5em;
} 

.video{
    margin-top: 40px;
    margin-left: 88PX;
}

iframe{
    border-radius: 20px;
}

@font-face {
    font-family: "mifuente";
    src: url('Fuentes/Aller_Std_Bd.ttf') format('truetype');
    src: url('Fuentes/Aller_Std_Lt.ttf') format('truetype');
}

/* CAJA DOS */

.container2{
    width: 55%;
    display: inline-block;
    margin-top: 25px;
    padding: 15px;
    margin-left: 20px;
    height: 340px;
    background-color: #93b9de;
    border-radius: 20px;
}

.titulo2{
    margin-left: 60px;
    text-align: justify;
    font-size: 50px;
    font-family: mifuente;
}

.img1{
    width: 250px;
    height: 245px;
    text-align: center;
    margin-left: 10px;
    margin-right: 15px;
    display: inline-block;
    float: left;
    border-radius: 20px;
}

.fila{
    display: flex;
}

.uno{
    font-size: 20px;
    text-align: justify;
}

.video2{
    margin-top: 25px;
    margin-right: 15%;
    margin-left: 5%;
}

/* CAJA TRES */

.container3{
    width: 55%;
    display: inline-block;
    margin-top: 25px;
    padding: 15px;
    margin-left: 20px;
    height: 340px;
    background-color: #c1d4e2;
    border-radius: 20px;
}

.titulo3{
    margin-left: 60px;
    text-align: justify;
    font-size: 50px;
    font-family: mifuente;
}

.img2{
    width: 250px;
    height: 245px;
    text-align: center;
    margin-left: 10px;
    margin-right: 15px;
    display: inline-block;
    float: left;
    border-radius: 20px;
}

.fila2{
    display: flex;
}

.dos{
    font-size: 20px;
    text-align: justify;
}

.video3{
    margin-top: 25px;
    margin-left: 20px;
}

/* CAJA CUATR0*/

.container4{
    width: 55%;
    display: inline-block;
    margin-top: 25px;
    padding: 15px;
    margin-left: 20px;
    height: 340px;
    background-color: #79a3d5;
    border-radius: 20px;
}

.titulo4{
    margin-left: 60px;
    text-align: justify;
    font-size: 50px;
    font-family: mifuente;
}

.img3{
    width: 250px;
    height: 245px;
    text-align: center;
    margin-left: 10px;
    margin-right: 15px;
    display: inline-block;
    float: left;
    border-radius: 20px;
}

.fila3{
    display: flex;
}

.tres{
    font-size: 20px;
    text-align: justify;
}

.video4{
    margin-top: 25px;
    margin-left: 20px;
}


